@model IEnumerable<YungChing.Models.MProducts>;

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" />
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

<h2>商品列表</h2>

<div class="row">
    <table class="table" id="table">
        <thead>
            <tr>
                <th class="auto-width text-center">
                    <button type="button" class="btn btn-primary" id="insert-modal-btn"><i class="fa fa-plus"></i> 新增</button>
                </th>
                <th class="auto-width text-center">
                    <label>ID</label>
                </th>
                <th class="auto-width text-center">
                    <label>Name</label>
                </th>
                <th class="auto-width text-center">
                    <label>SupplierID</label>
                </th>
                <th class="auto-width text-center">
                    <label>CategoryID</label>
                </th>
                <th class="auto-width text-center">
                    <label>QuantityPerUnit</label>
                </th>
                <th class="auto-width text-center">
                    <label>UnitPrice</label>
                </th>
                <th class="auto-width text-center">
                    <label>UnitsInStock</label>
                </th>
                <th class="auto-width text-center">
                    <label>UnitsOnOrder</label>
                </th>
            </tr>
        </thead>
        <tbody id="prod-list">
        </tbody>
    </table>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog  modal-lg edit-large">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-center" id="editModalLabel">Products 編輯</h2>
            </div>
            <div class="modal-body">
                <div class="row modal-row">
                    <div class="col-md-4">
                        <label>名稱 <span class="must-fill">*</span></label><br />
                        <input class="form-control" type="text" id="edit-name" required />
                    </div>
                    <div class="col-md-4">
                        <label>SupplierID</label><br />
                        <input class="form-control" type="text" id="edit-supplierId" />
                    </div>
                    <div class="col-md-4">
                        <label>物品類別</label><br />
                        <input class="form-control" type="text" id="edit-categoryId" />
                    </div>
                    <div class="col-md-5">
                        <label>QuantityPerUnit</label><br />
                        <input class="form-control" type="text" id="edit-quantityPerUnit" />
                    </div>
                    <div class="col-md-2">
                        <label>UnitPrice <span class="must-fill">*</span></label><br />
                        <input class="form-control" type="text" id="edit-unitPrice" />
                    </div>
                    <div class="col-md-2">
                        <label>UnitsInStock <span class="must-fill">*</span></label><br />
                        <input class="form-control" type="text" id="edit-unitsInStock" oninput="value=value.replace(/[^\d]/g,'')" />
                    </div>
                    <div class="col-md-3">
                        <label>UnitsOnOrder <span class="must-fill">*</span></label><br />
                        <input class="form-control" type="text" id="edit-unitsOnOrder" oninput="value=value.replace(/[^\d]/g,'')" />
                    </div>

                </div>  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="edit-submit">修改</button>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script>
        $(function () {
            let old_name = '';
            let old_supplierId = '';
            let old_categoryId = '';
            let old_quantityPerUnit = '';
            let old_unitPrice = '';
            let old_unitsInStock = '';
            let old_unitsOnOrder = '';

            function updateList() {
                $.ajax({
                    url: '@Url.Action("getAllProducts", "Products")',
                    method: 'GET',
                    success: (data) => {
                        let idNum = 0;
                        data.forEach((d) => {
                            let template = `
                                    <tr>
                                    <td class="auto-width text-center">
                                    <button class="btn skh-btn-sm editBtn" type="button" data-id="${d.id}"><i class="fa fa-pencil"></i></button>
                                    <button class="btn skh-btn-sm-danger deleteBtn" type="button" data-id="${d.id}"><i class="fa fa-trash"></i></button>
                                    </td>
                                    <td class="auto-width text-center">${d.id}</td>
                                    <td class="auto-width text-center">${d.name}</td>
                                    <td class="auto-width text-center">${d.supplierID}</td>
                                    <td class="auto-width text-center">${d.categoryID}</td>
                                    <td class="auto-width text-center">${d.quantityPerUnit}</td>
                                    <td class="auto-width text-center">${d.unitPrice}</td>
                                    <td class="auto-width text-center">${d.unitsInStock}</td>
                                    <td class="auto-width text-center">${d.unitsOnOrder}</td>
                                </tr>
                            `;
                            $("#prod-list").append(template);
                        })
                    },
                    error: () => {
                        toastr.error("can't not get data");
                    }
                })
            }

            //載入編輯頁面
            $("#prod-list").on('click', ".editBtn", function () {
                nowEditId = $(this).attr('data-id');
                $.ajax({
                    url: '@Url.Action("QueryProdById", "Products")',
                    method: 'GET',
                    data: {
                        Id: $(this).attr('data-id')
                    },
                    success: (data) => {
                        console.log(data);
                        $("#edit-name").val(data.name);
                        $('#edit-supplierId').val(data.supplierID);
                        $("#edit-categoryId").val(data.categoryID);
                        $('#edit-quantityPerUnit').val(data.quantityPerUnit);
                        $('#edit-unitPrice').val(data.unitPrice);
                        $("#edit-unitsInStock").val(data.unitsInStock);
                        $("#edit-unitsOnOrder").val(data.unitsOnOrder);
                        old_name = data.name;
                        old_supplierId = data.supplierID;
                        old_categoryId = data.categoryID;
                        old_quantityPerUnit = data.quantityPerUnit;
                        old_unitPrice = data.unitPrice;
                        old_unitsInStock = data.unitsInStock;
                        old_unitsOnOrder = data.unitsOnOrder;


                        $("#editModal").modal("show");
                    },
                    error: (data) => {
                        toastr.error('錯誤', data);
                        updateList();
                    }
                });
            });

            //首次載入
            updateList();
        });
    </script>
}
